/** =========================================
 * Main
 ===========================================*/

/** =========================================
 * Functions
 ===========================================*/

/** =========================================
 * Shade

 * Darken a color
 * @access public
 * @param {Color} $color - color to shade
 * @param {Number} $percentage - percentage of `$color` in returned color
 * @return {Color}
 ===========================================*/

/** =========================================
 * Tint

 * Lighten a color
 * @access public
 * @param {Color} $color - color to tint
 * @param {Number} $percentage - percentage of `$color` in returned color
 * @return {Color}
 ===========================================*/

/** =========================================
 * Variables
 ===========================================*/

/** -----------------------------------------
 * Fonts
 -------------------------------------------*/

/** -----------------------------------------
 * Sizing
 -------------------------------------------*/

/** -----------------------------------------
 * Icons
 -------------------------------------------*/

/** -----------------------------------------
 * GridFields / Accordions
 -------------------------------------------*/

.ss-toggle .ui-accordion-header.ui-state-default,
.cms table.ss-gridfield-table tr.title th,
.cms table.ss-gridfield-table tr td.bottom-all,
.cms .defaultSkin .mceToolbar,
.cms .defaultSkin .mceStatusbar {
	background: #f9f9f9;
	background: linear-gradient(#f9f9f9, #f1f1f1);
	border-color: #BDBDBD !important;
}

.cms table.ss-gridfield-table tr th.main {
	background: #f9f9f9;
	border-color: #BDBDBD !important;
}

/** =========================================
 * Mixins
 ===========================================*/

/** =========================================
 * Buttons
 ===========================================*/

/** =========================================
 * Components
 ===========================================*/

/** =========================================
 * Accordions
 ===========================================*/

/** =========================================
 * Buttons
 ===========================================*/

/** =========================================
 * CMS Content
 ===========================================*/

.cms-content {
	background: #f9f9f9;
}

/** =========================================
 * CMS Content Actions
 ===========================================*/

.cms-content-actions,
.cms-preview-controls {
	background: #fff;
	box-shadow: none;
}

.cms .ss-ui-action-tabset.action-menus.ss-tabset .ui-tabs-panel {
	background: #fff;
	color: #444;
}

.cms .ss-ui-action-tabset.action-menus.ss-tabset .ui-tabs-panel button.ss-ui-button:hover {
	background: #f9f9f9;
}

/** =========================================
 * Cms Content Fields
 ===========================================*/

.cms { /**
  * Main content
  */
}

.cms .cms-content-fields {
	background: #f9f9f9;
}

/** =========================================
 * CMS Content Header
 ===========================================*/

/**
 * The top bar containing breadcrumbs, and view toggle
 */

.cms-content-header.north {
	background: #fff;
	border-bottom: 1px solid #d9d9d9; /**
   * Breadcrumbs
   */ /**
   * Model admins without breadcrumbs
   */ /**
   * View tabs
   */
}

.cms-content-header.north .breadcrumbs-wrapper {
	padding: 0;
}

.cms-content-header.north .breadcrumbs-wrapper .icon {
	display: none;
}

.cms-content-header.north .breadcrumbs-wrapper .crumb,
.cms-content-header.north .breadcrumbs-wrapper .sep {
	color: #444;
}

.cms-content-header.north .cms-content-header-info h2 {
	color: #444;
}

.cms-content-header.north .cms-content-header-info .icon {
	display: none;
}

.cms-content-header.north .cms-content-header-tabs .ui-tabs-nav {
	border-width: 0;
}

.cms-content-header.north .cms-content-header-tabs .ui-tabs-nav li {
	padding: 0;
	background: transparent none;
	box-shadow: none;
	border-width: 0;
}

.cms-content-header.north .cms-content-header-tabs .ui-tabs-nav li.ui-state-active a {
	background: #e6e6e6;
}

.cms-content-header.north .cms-content-header-tabs .ui-tabs-nav li a {
	text-indent: 0;
	background: transparent none;
	color: #444;
	text-shadow: none;
	padding: 0 16px 1px 16px;
	margin: 0;
}

/** =========================================
 * CMS Content Tools
 ===========================================*/

/**
 * Left-hand filter bar
 */

.cms-content-tools {
	background: #fff;
	box-shadow: none;
	border-color: #d9d9d9; /**
   * Buttons
   */
}

.cms-content-tools .ss-ui-button.cms-tree-expand-trigger,
.cms-content-tools .ss-ui-button.ss-ui-action-constructive {
	font-size: 11px;
}

/** =========================================
 * CMS Menu
 ===========================================*/

/**
 * The left-hand navigation
 */

.cms-menu {
	font-family: sans-serif;
	background: #1b354c;
	color: #fff;
	width: 240px !important;
	box-shadow: none;
	border-right: 1px solid rgba(0, 0, 0, 0.3); /**
   * The container for the Silverstripe logo, Username and logout button
   */ /**
   * Silverstripe Logo + Site Name
   */ /**
   * Logout Button
   */ /**
   * The list of ModelAdmin actions
   */ /**
   * The footer of the left-hand navigation, contains toggle button
   */
}

.cms-menu .cms-logo-header.north {
	padding: 16px 16px 16px 16px;
	margin: 0 0 16px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.cms-menu .logo {
	margin: 0 0 16px 0;
}

.cms-menu .logo a.front-end-link {
	display: block;
	position: static;
	text-indent: 0;
	background: transparent none;
	width: 100%;
}

.cms-menu .logo img {
	max-width: 100%;
	height: auto;
}

.cms-menu .cms-logo-header {
	background: transparent none;
}

.cms-menu .cms-logo {
	padding: 8px 0 0 0;
	border-width: 0;
}

.cms-menu .cms-logo a {
	display: none;
}

.cms-menu .cms-logo span {
	margin: 0 0 0 4px;
	font-weight: 700;
	color: #fff;
}

.cms-menu .cms-login-status {
	padding: 0 0 8px 0;
	border-width: 0;
}

.cms-menu .cms-login-status .logout-link {
	color: #fff;
	background: transparent none;
	float: none;
	width: auto;
	height: auto;
	text-indent: 0;
	display: block;
	content: "Logout";
}

.cms-menu .cms-login-status span {
	display: none;
}

.cms-menu .cms-menu-list li.current a {
	color: #fff;
	background: rgba(0, 0, 0, 0.3);
}

.cms-menu .cms-menu-list li a {
	color: #fff;
	background: transparent none;
	border-width: 0;
	text-shadow: none;
	font-size: 13px;
	padding: 16px 16px 16px 16px;
}

.cms-menu .cms-menu-list li a .icon { /**
       * Display full opacity to inverse icons.
       */
	opacity: 1;
}

.cms-menu .cms-menu-list li a .text {
	margin: 0 0 0 30px;
}

.cms-menu .cms-panel-toggle.south {
	border-color: rgba(0, 0, 0, 0.3);
	box-shadow: none;
	display: none;
}

/** =========================================
 * Fields
 ===========================================*/

.field {
	border-color: #E0E0E0;
	border-width: 1px;
}

/** =========================================
 * Gridfields
 ===========================================*/

.cms table.ss-gridfield-table .right .pagination-records-number,
.cms table.ss-gridfield-table tr th.main,
.cms table.ss-gridfield-table tr th button.ss-gridfield-sort,
.cms table.ss-gridfield-table tr th button.ss-gridfield-sort:hover,
.cms table.ss-gridfield-table tr th button.ss-gridfield-sort:active,
.cms table.ss-gridfield-table tr td.bottom-all .pagination-records-number {
	color: #444 !important;
	text-shadow: none;
}

.cms table.ss-gridfield-table .right .pagination-records-number span,
.cms table.ss-gridfield-table tr th.main span,
.cms table.ss-gridfield-table tr th button.ss-gridfield-sort span,
.cms table.ss-gridfield-table tr th button.ss-gridfield-sort:hover span,
.cms table.ss-gridfield-table tr th button.ss-gridfield-sort:active span,
.cms table.ss-gridfield-table tr td.bottom-all .pagination-records-number span {
	text-shadow: none;
}

.cms table.ss-gridfield-table tr { /**
   * No items to display
   */ /**
   * Search filter
   */
}

.cms table.ss-gridfield-table tr.title th {
	border: 1px solid;
	border-bottom-width: 0;
}

.cms table.ss-gridfield-table tr.title th h2 {
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
	color: #444;
}

.cms table.ss-gridfield-table tr.ss-gridfield-no-items > td:first-child {
	padding: 6px 8px;
	border-bottom: 1px solid #E0E0E0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.cms table.ss-gridfield-table tr.filter-header .extra {
	background: #212121;
	color: #fff; /**
     * Input fields in the search filter.
     */
}

.cms table.ss-gridfield-table tr.filter-header .extra .fieldholder-small {
	padding: 0;
}

.cms table.ss-gridfield-table tr th {
	border-radius: 0; /**
     * Sortable GridField bar
     */
}

.cms table.ss-gridfield-table tr th.main {
	border-color: #BDBDBD;
	border-left-width: 0;
}

.cms table.ss-gridfield-table tr th.main:first-child {
	border-left-width: 1px;
}

.cms table.ss-gridfield-table tr th.sortablerowsheading {
	border-left: 1px solid #BDBDBD;
	background: #E0E0E0;
	color: #444;
}

.cms table.ss-gridfield-table tr th button { /**
       * Search Icon
       */
}

.cms table.ss-gridfield-table tr th button.ss-ui-button.ss-gridfield-button-filter.trigger {
	background-position: -17px -38px;
}

.cms table.ss-gridfield-table tr td.bottom-all {
	border: 1px solid #BDBDBD; /**
     * Pagination
     */
}

.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination { /**
       * Pagination buttons
       */
}

.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination .ui-button-text,
.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination .pagination-page-number {
	color: #444;
	text-shadow: none;
}

.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button.ss-gridfield-firstpage,
.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button.ss-gridfield-previouspage,
.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button.ss-gridfield-nextpage,
.cms table.ss-gridfield-table tr td.bottom-all .datagrid-pagination button.ss-gridfield-lastpage {
	background-image: url("../images/icons/pagination-arrows.png");
}

/** =========================================
 * Loading Logo
 ===========================================*/

/** -----------------------------------------
 * Variables
 -------------------------------------------*/

/** -----------------------------------------
 * Mixins
 -------------------------------------------*/

/** -----------------------------------------
 * Animation
 -------------------------------------------*/

/** -----------------------------------------
 * Styling
 -------------------------------------------*/

.ss-loading-screen .loading-logo {
	background: transparent none; /**
   * Blue loading .gif
   */
}

.ss-loading-screen .loading-logo:after {
	position: absolute;
	content: '';
	display: block;
	width: 25px;
	height: 25px;
	background: transparent none;
	border: 4px solid #E0E0E0;
	border-color: rgba(0, 0, 0, 0.12);
	border-top-color: #1b354c !important;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin: -12.5px 0 0 -12.5px;
	-webkit-animation: infinite-spinning 0.8s linear infinite;
	animation: infinite-spinning 0.8s linear infinite;
}

.ss-loading-screen .loading-logo .loading-animation {
	display: none !important;
}

.cms-content-loading-spinner {
	background-image: none;
}

.cms-content-loading-spinner:after {
	position: absolute;
	content: '';
	display: block;
	width: 25px;
	height: 25px;
	background: transparent none;
	border: 4px solid #E0E0E0;
	border-color: rgba(0, 0, 0, 0.12);
	border-top-color: #1b354c !important;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin: -12.5px 0 0 -12.5px;
	-webkit-animation: infinite-spinning 0.8s linear infinite;
	animation: infinite-spinning 0.8s linear infinite;
}

/** =========================================
 * Menu Icons
 ===========================================*/

/**
 * Manually override the icons in the left hand menu if the variable $icons-inverse is true.
 */

.cms-menu { /**
   * The list of ModelAdmin actions
   */
}

.cms-menu .cms-menu-list #Menu-AssetAdmin .icon {
	background-image: url("../images/icons/admin/assets.png");
}

.cms-menu .cms-menu-list #Menu-AssetAdmin .icon {
	background-image: url("../images/icons/admin/assets.png");
}

.cms-menu .cms-menu-list #Menu-BlogPageModelAdmin .icon {
	background-image: url("../../boilerplate/code/Modules/Blog/images/pencil-alt.png");
}

.cms-menu .cms-menu-list #Menu-CMSSettingsController .icon {
	background-image: url("../images/icons/admin/settings.png");
}

.cms-menu .cms-menu-list #Menu-ContactMessageModelAdmin .icon {
	background-image: url("../../boilerplate/code/Modules/ContactForm/images/message_menu_alt.png");
}

.cms-menu .cms-menu-list #Menu-CMSPagesController .icon {
	background-image: url("../images/icons/admin/pages.png");
}

.cms-menu .cms-menu-list #Menu-PortfolioPageModelAdmin .icon {
	background-image: url("../../boilerplate/code/Modules/Portfolio/images/briefcase-alt.png");
}

.cms-menu .cms-menu-list #Menu-Help .icon {
	background-image: url("../images/icons/admin/help.png");
}

.cms-menu .cms-menu-list #Menu-ReportAdmin .icon {
	background-image: url("../images/icons/admin/reports.png");
}

.cms-menu .cms-menu-list #Menu-SecurityAdmin .icon {
	background-image: url("../images/icons/admin/security.png");
}

/** =========================================
 * Messages
 ===========================================*/

/** =========================================
 * Tabs
 ===========================================*/

.cms .ui-tabs-nav li.ui-state-default {
	background: #E0E0E0;
}

.cms .ui-tabs-nav li.ui-state-active {
	background: #f9f9f9;
}

.cms .ui-tabs-nav a {
	outline: 0;
}

/** =========================================
 * TinyMCE
 ===========================================*/

.cms { /**
   * Custom Icons
   */ /**
   * Toolbar
   */
}

.cms .defaultSkin .mceIcon {
	background-image: url("../images/icons/custom-icons.gif");
}

.cms .defaultSkin { /**
     * Buttons
     */ /**
     * Layout
     */
}

.cms .defaultSkin a:link,
.cms .defaultSkin a:hover,
.cms .defaultSkin a:focus,
.cms .defaultSkin a:visited,
.cms .defaultSkin a:active {
	border-color: transparent;
	border-radius: 2px;
}

.cms .defaultSkin a.mceButtonEnabled:hover {
	border-color: #BDBDBD;
	background: transparent none;
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.cms .defaultSkin a.mceButtonActive {
	border-color: #BDBDBD;
	background: #E0E0E0;
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.cms .defaultSkin .mceListBoxEnabled .mceText,
.cms .defaultSkin .mceListBoxEnabled .mceOpen {
	border-color: #BDBDBD;
}

.cms .defaultSkin .mceListBoxEnabled .mceText {
	border-radius: 0;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}

.cms .defaultSkin .mceListBoxEnabled .mceOpen {
	border-radius: 0;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
}

.cms .defaultSkin .mceLayout {
	border-width: 0;
}

.cms .defaultSkin .mceToolbar {
	margin: 0;
	padding: 5px;
}

.cms .defaultSkin .mceToolbar.mceFirst {
	border: 1px solid #BDBDBD;
	border-bottom-width: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.cms .defaultSkin .mceStatusbar {
	padding: 5px;
	border: 1px solid;
	border-top-width: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.cms .defaultSkin .mceIframeContainer {
	border: 1px solid #BDBDBD;
}

/** =========================================
 * Admin
 ===========================================*/

/** =========================================
 * Security
 ===========================================*/

#MemberImportFormIframe {
	box-sizing: border-box;
	padding: 16px;
	background: #e6eaed;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.12);
}

/** =========================================
 * Shame
 ===========================================*/

/*
 * Use this for putting all the CSS declarations, hacks and things we are not proud of.
 */

@-webkit-keyframes infinite-spinning {

from {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

to {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

}

@keyframes infinite-spinning {

from {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

to {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

}

