/** =========================================
 * Variables
 ===========================================*/

$ss-background-default: #e6eaed;

$gray-darker: #444;
/** Text */
$gray-dark: #757575;
/** Secondary Text / Icons */
$gray: #BDBDBD;
/** Hint Text */
$gray-light: #E0E0E0;
/** Dividers */
$gray-lighter: #f9f9f9;

$brand-default: #fff;
$brand-default-dark: shade($brand-default, 10);
$brand-default-light: tint($brand-default, 10);
$brand-default-color: $gray-darker;

$brand-primary: #1b354c;
$brand-primary-dark: shade($brand-primary, 10);
$brand-primary-light: tint($brand-primary, 10);
$brand-primary-color: #fff;

$brand-secondary: #607D8B;
$brand-secondary-dark: shade($brand-secondary, 10);
$brand-secondary-light: tint($brand-secondary, 10);
$brand-secondary-color: #fff;

$brand-inverse: #212121;
$brand-inverse-dark: shade($brand-inverse, 10);
$brand-inverse-light: tint($brand-inverse, 10);
$brand-inverse-color: #fff;

/** -----------------------------------------
 * Opacity
 * ----------------------------------------*/

$opacity-light: 0.1;
$opacity-base: 0.3;
$opacity-dark: 0.4;

/** -----------------------------------------
 * Fonts
 * ----------------------------------------*/

$font-family-base: sans-serif;

$font-size-small: 11px;
$font-size-base: 13px;
$font-size-heading-base: 24px;

$line-height-base: 18px;

/** -----------------------------------------
 * Sizing
 * ----------------------------------------*/

$gutter: 30px;

$gap-xl: 64px;
$gap-lg: 32px;
$gap-md: 16px;
$gap-sm: 8px;
$gap-xs: 4px;

/** -----------------------------------------
 * Animation
 * ----------------------------------------*/

$transition-base: .1s ease-out;

/** -----------------------------------------
 * Border Radii
 * ----------------------------------------*/

$border-radius-small: 2px;
$border-radius-base: 4px;
$border-radius-large: 8px;

/** -----------------------------------------
 * Icons
 * ----------------------------------------*/

$cms-branding-icon-path: "../images/icons/admin";
$boilerplate-module-path: "../../boilerplate/code/Modules";
$icons-inverse: true;

/** -----------------------------------------
 * CMS Menu
 * ----------------------------------------*/

$menu-font-weight: 600;
$menu-padding: 20px;
$menu-padding-x: $menu-padding;
$menu-padding-y: ceil($menu-padding * 0.6);
$menu-line-height: $line-height-base + $menu-padding-y * 2;

/** -----------------------------------------
 * GridFields / Accordions
 * ----------------------------------------*/

%gridfield-accordion-style {
    background: $gray-lighter;
    background: linear-gradient($gray-lighter, shade($gray-lighter, 3));
    border-color: $gray !important; // Override javascript hierarchy
}

%gridfield-accordion-content-style {
    background: $gray-lighter;
    border-color: $gray !important;
}
