/*
|--------------------------------------------------------------------------
| Deep mapping of variables.
|--------------------------------------------------------------------------
|
| Included in the variables glob, as it needs to be used
| at all levels.
|
*/

$private-sassy-maps-suppress-warnings: false !default;

@function map-get-deep-warning($warn, $get, $key) {
  @if not $private-sassy-maps-suppress-warnings {
    @if $get == null {
      @warn "Map has no value for key search `#{$warn}`";
    }

    @else if type-of($get) != "map" {
      @warn "Non-map value found for key search `#{$warn}`, cannot search for key `#{$key}`";
    }
  }

  @return null;
}

/**
 * Get nested variable values inside of maps.
 */
@function map-get-deep($map, $keys...) {
  @if length($keys) == 1 {
    $keys: nth($keys, 1);
  }
  $warn: "#{nth($keys, 1)}";
  $length: length($keys);
  $get: map-get($map, nth($keys, 1));

  @if $length > 1 {
    @for $i from 2 through $length {
      @if $get != null and type-of($get) == "map" {
        $warn: $warn + "->#{nth($keys, $i)}";
        $get: map-get($get, nth($keys, $i));

        @if $get == null {
          @return map-get-deep-warning($warn, $get, nth($keys, $i));
        }
      }

      @else {
        @return map-get-deep-warning($warn, $get, nth($keys, $i));
      }
    }
  }

  @return $get;
}
