{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "unit-whitelist": [
      "em",
      "rem",
      "ms",
      "px",
      "%",
      "deg"
    ]
  }
}
