/** =========================================
 * Buttons
 ===========================================*/

@mixin button-default($background: $brand-default, $border: $brand-default, $color: $brand-default-color) {
    border-radius: 2px;
    padding: 0.6em 1.2em;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    background: $background;
    border-color: $border;
    color: $color;
    transition: .1s linear all;
    &:hover,
    &:focus,
    &:active {
        background: $background;
        border-color: $border;
    }
    &:hover {
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
    }
    .ui-icon {
        display: none !important;
    }
    .ui-button-text {
        padding: 0;
    }
}