/** =========================================
 * Icons
 ===========================================*/

@mixin icon-base($icon-size: $icon-size) {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: normal normal normal $icon-size/1 FontAwesome;
    display: block;
    text-indent: 0;
    height: $icon-size;
    width: $icon-size;
    content: '\f0c9';
}

@mixin cms-icon($icon: '\f15b') {
    background: none;
    &::before {
        @include icon-base($icon-size);
        text-indent: 0;
        content: '#{$icon}';
        height: $icon-size;
        width: $icon-size;
    }
}
