.cms-content-actions .ss-ui-button,
.cms-content-actions .ss-ui-button.ui-state-default,
.cms-content-actions .ss-ui-button.ui-state-hover,
.cms-content-actions .ss-ui-button.ui-state-focus,
.cms-content-actions .ss-ui-button.ui-state-active,
.cms-content-actions .ss-ui-button.ui-widget.gridfield-better-buttons-delete,
.cms-content-actions .ss-ui-button.ui-widget.gridfield-better-buttons-delete.ui-state-default,
.cms-content-actions .ss-ui-button.ui-widget.gridfield-better-buttons-delete.ui-state-hover,
.cms-content-actions .ss-ui-button.ui-widget.gridfield-better-buttons-delete.ui-state-focus,
.cms-content-actions .ss-ui-button.ui-widget.gridfield-better-buttons-delete.ui-state-active,
.cms .cms-search-form .Actions .ss-ui-button,
.cms .cms-search-form .Actions .ss-ui-button.ui-state-default,
.cms .cms-search-form .Actions .ss-ui-button.ui-state-hover,
.cms .cms-search-form .Actions .ss-ui-button.ui-state-focus,
.cms .cms-search-form .Actions .ss-ui-button.ui-state-active,
.cms .better-buttons-utils .ss-ui-button,
.cms .better-buttons-utils .ss-ui-button.ui-state-default,
.cms .better-buttons-utils .ss-ui-button.ui-state-hover,
.cms .better-buttons-utils .ss-ui-button.ui-state-focus,
.cms .better-buttons-utils .ss-ui-button.ui-state-active,
.cms .preview-holder .ss-ui-button,
.cms .preview-holder .ss-ui-button.ui-state-default,
.cms .preview-holder .ss-ui-button.ui-state-hover,
.cms .preview-holder .ss-ui-button.ui-state-focus,
.cms .preview-holder .ss-ui-button.ui-state-active,
.cms .edit-holder .ss-ui-button,
.cms .edit-holder .ss-ui-button.ui-state-default,
.cms .edit-holder .ss-ui-button.ui-state-hover,
.cms .edit-holder .ss-ui-button.ui-state-focus,
.cms .edit-holder .ss-ui-button.ui-state-active,
.cms .ss-gridfield-buttonrow .ss-ui-button,
.cms .ss-gridfield-buttonrow .ss-ui-button.ui-state-default,
.cms .ss-gridfield-buttonrow .ss-ui-button.ui-state-hover,
.cms .ss-gridfield-buttonrow .ss-ui-button.ui-state-focus,
.cms .ss-gridfield-buttonrow .ss-ui-button.ui-state-active {
  border: none;
  cursor: pointer;
  padding: 0 .74em;
  vertical-align: middle;
  font-size: 1em;
  min-width: 30px;
  min-height: 2.14em;
  line-height: 2.14em;
  font-weight: normal;
  text-shadow: none;
  text-decoration: none;
  background: map-get-deep($palettes, 'default', 'light');
  background: linear-gradient(to bottom, map-get-deep($palettes, 'default', 'light'), mix(map-get-deep($palettes, 'default', 'light'), #000, 97)) left no-repeat, center no-repeat;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.14), inset 0 -1px 0 rgba(0, 0, 0, 0.08);
  color: map-get-deep($palettes, 'default', 'color');
  &.ss-ui-button-small {
    min-height: 1.5em;
    line-height: 1.5em;
    padding: 0 .4em;
  }
  &.ui-button-text-icon-primary,
  &.ui-button-text-icons {
    padding-left: 2.24em;
  }
  &.ui-corner-left {
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
  }
  &.ui-corner-right {
    border-top-right-radius: .2em;
    border-bottom-right-radius: .2em;
  }
  .ui-button-text {
    padding: 0;
    line-height: inherit;
  }
  &.loading {
    .ui-icon {
      background: transparent none;
      &::after {
        color: currentColor;
        animation: loading 2s linear infinite; // @TODO - Ryan Potter - 1/3/17 Stop the spinner from wobbling.
        content: "\f013";
      }
    }
  }
  // States
  &.ss-ui-action-constructive {
    font-weight: normal;
    color: map-get-deep($palettes, 'success', 'color');
    background: map-get-deep($palettes, 'success', 'base');
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) left no-repeat, center no-repeat map-get-deep($palettes, 'success', 'base');
    .ui-icon {
      &::after {
        color: currentColor;
      }
    }
    &.ui-state-hover,
    &.ui-state-focus,
    &.ui-state-active {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.14), inset 0 -1px 0 rgba(0, 0, 0, 0.08);
      background: map-get-deep($palettes, 'success', 'dark');
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) left no-repeat, center no-repeat map-get-deep($palettes, 'success', 'dark');
    }
  }
  &.gridfield-better-buttons-delete {
    color: map-get-deep($palettes, 'danger', 'color');
    background: map-get-deep($palettes, 'danger', 'base');
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) left no-repeat, center no-repeat map-get-deep($palettes, 'danger', 'base');
  }
  // Icons
  .ui-icon {
    background: transparent none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    transform: translate3d(0, -50%, 0);
    text-indent: 0;
    &::after {
      @include icon-base(1em);
    }
  }
  .btn-icon-add::after {
    content: "\f055";
  }
  .btn-icon-accept::after {
    color: map-get-deep($palettes, 'success', 'base');
    content: "\f00c";
  }
  .btn-icon-disk::after {
    content: "\f0c7";
  }
  .btn-icon-addpage::after {
    content: "\f0f6";
  }
  .btn-icon-decline::after {
    color: map-get-deep($palettes, 'danger', 'base');
    content: "\f056";
  }
  .btn-icon-download-csv::after {
    content: "\f019";
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
