/*
|--------------------------------------------------------------------------
| Content Header
|--------------------------------------------------------------------------
*/

.cms {
  .cms-content-header {
    .cms-content-header-info {
      .cms_backlink .ss-ui-button {
        min-height: 100%;
        background: transparent none;
        box-shadow: none;
      }
    }
  }
}
