/*
|--------------------------------------------------------------------------
| CMS Menu
|--------------------------------------------------------------------------
*/

.cms-menu {
  .cms-menu-list {
    li {
      &.children {
        &.current,
        &.opened {
          border-bottom: 0;
          background: $border-color--lighter;

          > a {
            background: transparent none;
          }
        }

        > a {
          position: relative;
        }

        ul {
          background-color: transparent;

          li {
            &.current {
              a {
                font-weight: normal;
                color: currentColor;
                background: $border-color--lighter;
              }
            }

            a {
              &:hover,
              &:focus {
                color: currentColor;
                background: $border-color--lighter;
              }
            }
          }

          &.collapsed-flyout {
            li {
              a {
                border-top: none;
              }
            }
          }
        }

        li {
          background: transparent none;

          &.last {
            border-bottom: 1px solid $border-color;
          }

          a {
            border-width: 0;
            background: none;
          }
        }

        .grouped-cms-menu {
          &::after {
            @include icon-base;
            content: "\f03a";
            position: absolute;
            top: 50%;
            left: 0.5rem;
            transform: translate3d(0, -50%, 0);
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .toggle-children {
          top: 0;
          display: flex;
          align-items: center;

          &::before {
            @include icon-base();
            content: "\f0d7";
          }

          &.opened {
            &::before {
              content: "\f0d8";
            }
          }

          .toggle-children-icon {
            display: none;
          }
        }
      }
    }
  }
}
