/*
|--------------------------------------------------------------------------
| Tabset
|--------------------------------------------------------------------------
*/

.ss-tabset {
  margin: 0;
  border-width: 0;
  box-shadow: none;
}
