/*
|--------------------------------------------------------------------------
| Textarea
|--------------------------------------------------------------------------
*/

.field {
  textarea {
    outline: none;
    border: none;
    border-radius: $border-radius;
    box-shadow: $input-shadow;
    background: map-get-deep($input, 'background');
    padding: (($input-height - $input-font-size) / 2) $input-padding-x;
    font-size: $input-font-size;
    font-weight: normal;
    transition: $border-transition;

    &:focus {
      border: none;
      box-shadow: $input-shadow--focus;
    }
  }
}
