/** =========================================
 * CMS Menu
 ===========================================*/

$sidebar-background: $brand-primary;
$sidebar-color: $brand-primary-color;

/**
 * The left-hand navigation
 */
.cms-menu {
    /** Render the fonts a little better. */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family-base;
    background: $sidebar-background;
    color: $sidebar-color;
    width: 240px !important; // Override Javascript resizing the menu
    box-shadow: none;
    border-right: 1px solid rgba(0, 0, 0, $opacity-base);
    /**
     * The container for the Silverstripe logo, Username and logout button
     */
    .cms-logo-header.north {
        padding: $menu-padding;
        margin: 0 0 $gap-md 0;
        border-bottom: 1px solid rgba(0, 0, 0, $opacity-base);
    }
    .logo {
        a.front-end-link {
            padding: 0;
            margin: 0;
            display: block;
            position: static;
            text-indent: 0;
            background: transparent none;
            width: 100%;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .cms-logo-header {
        background: transparent none;
    }
    /**
     * Silverstripe Logo + Site Name
     */
    .cms-logo {
        margin: 0 0 $gap-md 0;
        padding: 0;
        border-width: 0;
        a {
            display: none;
        }
        span {
            margin: 0;
            font-weight: $menu-font-weight;
            color: $sidebar-color;
        }
    }
    /**
     * Logout Button
     */
    .cms-login-status {
        font-weight: $menu-font-weight;
        padding: 0;
        border-width: 0;
        .logout-link {
            color: $sidebar-color;
            background: transparent none;
            float: none;
            width: auto;
            height: auto;
            text-indent: 0;
            display: inline-block;
            content: "Logout";
            margin: 0;
        }
        span {
            display: none;
        }
    }
    /**
     * The list of ModelAdmin actions
     */
    .cms-menu-list {
        li {
            &.current {
                a {
                    color: $sidebar-color;
                    background: rgba(0, 0, 0, $opacity-base);
                    &:hover {
                        background: rgba(0, 0, 0, $opacity-base);
                    }
                }
            }
            a {
                font-family: 'Open Sans', sans-serif;
                color: $sidebar-color;
                font-weight: $menu-font-weight;
                background: transparent none;
                border-width: 0;
                text-shadow: none;
                font-size: $font-size-base;
                line-height: $line-height-base;
                padding: $menu-padding-y $menu-padding-x;
                transition: $transition-base background-color;
                &:hover {
                    background: rgba(0, 0, 0, $opacity-base);
                }
                .icon {
                    margin-left: 0;
                    /**
                     * Display full opacity to inverse icons.
                     */
                    @if $icons-inverse == true {
                        opacity: 1;
                    }
                    &.icon-16 {
                        background: none;
                        text-indent: 0;
                        &::before {
                            @include icon-base;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
                .text {
                    margin: 0 0 0 $gap-lg;
                }
            }
        }
    }
    /**
     * The footer of the left-hand navigation, contains toggle button
     */
    .cms-panel-toggle.south {
        border-color: rgba(0, 0, 0, $opacity-base);
        box-shadow: none;
        // Disallow toggling
        display: none;
    }
}
