/** =========================================
 * CMS Content Header
 ===========================================*/

/**
 * The top bar containing breadcrumbs, and view toggle
 */
.cms-content-header.north {
    background: $brand-default;
    border-bottom: 1px solid darken($brand-default, 15);
    /**
     * Breadcrumbs
     */
    .breadcrumbs-wrapper {
        .crumb,
        .sep {
            color: $brand-default-color;
        }
    }
    /**
     * Model admins without breadcrumbs
     */
    .cms-content-header-info {
        h2 {
            //There is no hook for this heading, silly SS.
            color: $brand-default-color;
        }
        .icon {
            display: none;
        }
    }
}