/*======================================================================*\
    CMS Content Header
\*======================================================================*/

/**
 * The top bar containing breadcrumbs, and view toggle
 */
.cms-content-header.north {
    background: $brand-default;
    border-bottom: 1px solid darken($brand-default, 15);
    /**
     * Breadcrumbs
     */
    .breadcrumbs-wrapper {
        padding: 0;
        .icon {
            display: none;
        }
        .crumb,
        .sep {
            color: $brand-default-color;
        }
    }
    /**
     * Model admins without breadcrumbs
     */
    .cms-content-header-info {
        h2 { //There is no hook for this heading, silly SS.
            color: $brand-default-color;
        }
        .icon {
            display: none;
        }
    }
    /**
     * View tabs
     */
    .cms-content-header-tabs {
        .ui-tabs-nav {
            border-width: 0;
            li {
                padding: 0;
                background: transparent none;
                box-shadow: none;
                border-width: 0;
                &.ui-state-active {
                    a {
                        background: darken($brand-default, 10);
                    }
                }
                a {
                    text-indent: 0;
                    background: transparent none;
                    color: $brand-default-color;
                    text-shadow: none;
                    padding: 0 $gap-md 1px $gap-md;
                    margin: 0;
                }
            }
            .content-treeview {
            }
            .content-listview {
            }
        }
    }
}