/** =========================================
 * CMS Menu
 ===========================================*/

$sidebar-background: $brand-primary;
$sidebar-color: $brand-primary-color;

/**
 * The left-hand navigation
 */
.cms-menu {
    font-family: $font-family-base;
    background: $sidebar-background;
    color: $sidebar-color;
    width: 240px !important; // Override Javascript resizing the menu
    box-shadow: none;
    border-right: 1px solid darken($sidebar-background, 10);
    /**
     * The container for the Silverstripe logo, Username and logout button
     */
    .cms-logo-header.north {
        padding: $gap-md $gap-md $gap-md $gap-md;
        margin: 0 0 $gap-md 0;
        border-bottom: 1px solid rgba(0,0,0,0.3);
    }
        .logo {
            margin: 0 0 $gap-md 0;
            a.front-end-link {
                display: block;
                position: static;
                text-indent: 0;
                background: transparent none;
                width: 100%;
            }
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .cms-logo-header {
            background: transparent none;
        }
        /**
         * Silverstripe Logo + Site Name
         */
        .cms-logo {
            padding: $gap-sm 0 0 0;
            border-width: 0;
            a {
                display: none;
            }
            span {
                margin: 0 0 0 4px;
                font-weight: 700;
                color: $sidebar-color;
            }
        }
        /**
         * Logout Button
         */
        .cms-login-status {
            padding: 0 0 $gap-sm 0;
            border-width: 0;
            .logout-link {
                color: $sidebar-color;
                background: transparent none;
                float: none;
                width: auto;
                height: auto;
                text-indent: 0;
                display: block;
                content: "Logout";
            }
            span {
                display: none;
            }
        }
    /**
     * The list of ModelAdmin actions
     */
    .cms-menu-list {
        li {
            &.current {
                a {
                    color: $sidebar-color;
                    background: rgba(0,0,0,0.3);
                }
            }
            a {
                color: $sidebar-color;
                background: transparent none;
                border-width: 0;
                text-shadow: none;
                font-size: $font-size-base;
                padding: $gap-md $gap-md $gap-md $gap-md;
                .icon {
                    /**
                     * Display full opacity to inverse icons.
                     */
                    @if $icons-inverse == true {
                        opacity: 1;
                    }
                }
                .text {
                    margin: 0 0 0 30px;
                }
            }
        }
    }
    /**
     * The footer of the left-hand navigation, contains toggle button
     */
    .cms-panel-toggle.south {
        border-color: rgba(0,0,0,0.3);
        box-shadow: none;
        // Disallow toggling
        display: none;
    }
}