/** =========================================
 * CMS Menu
 ===========================================*/

/**
 * The left-hand navigation
 */
.cms-menu {
    /**
     * The list of ModelAdmin actions
     */
    .cms-menu-list {
        li {
            &.children {
                &.current,
                &.opened {
                    border-bottom: 0;
                    background: rgba(0, 0, 0, 0.3);
                }
                .grouped-cms-menu {
                    &.text {
                        margin-left: $gap-lg;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: $gap-md;
                        margin: -8px 0 0 4px;
                        background-image: url('#{$cms-branding-icon-path}/menu.png');
                        @if $icons-inverse == true {
                            background-image: url('#{$cms-branding-icon-path}/menu-alt.png');
                        }
                        height: 16px;
                        width: 16px;
                    }
                }
                ul{
                    padding: 4px 0;
                    background-color: rgba(255,255,255,0.08);
                }
                li {
                    background: transparent none;
                    &.current {
                        a {
                            color: #fff;
                            font-weight: bold;
                        }
                    }
                    a {
                        color: #b4b9be;
                        height: auto;
                        position: relative;
                        border-width: 0;
                        background: none;
                        font-size: 14px;
                        font-weight: 600;
                        padding: 8px 25px;
                        line-height: 1em;

                        &:hover{
                            background: rgba(0, 0, 0, 0.3);
                        }
                    }
                }
                .toggle-children {
                    font-size: $font-size-base;
                    top: 50%;
                    right: 4px;
                    margin-top: -17px;
                    float: none;
                    line-height: inherit;
                    text-align: center;
                    width: 32px;
                    height: 32px;
                    border: 1px solid rgba(255,255,255,0.3);
                    border-radius: 15%;
                    transition: all 100ms ease-in-out;

                    &:hover{
                        background-color: rgba(255,255,255,0.3);
                    }

                    &.opened {
                        .toggle-children-icon {
                            margin-top: -3px;
                            @if $icons-inverse == true {
                                background-position: 0 -846px;
                            }
                        }
                    }
                    .toggle-children-icon {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        margin-left: -4px;
                        margin-top: -1px;
                        @if $icons-inverse == true {
                            background-position: 0 -830px;
                        }
                    }
                }
            }
        }
    }
}