/** =========================================
 * CMS Menu
 ===========================================*/

/**
 * The left-hand navigation
 */
.cms-menu {
    /**
     * The list of ModelAdmin actions
     */
    .cms-menu-list {
        li {
            &.children {
                &.current,
                &.opened {
                    border-bottom: 0;
                    background: rgba(0, 0, 0, $opacity-light / 2);
                    > a {
                        background: rgba(0, 0, 0, ($opacity-base - ($opacity-light / 2)));
                    }
                }
                > a {
                    padding-right: ($menu-line-height - $gap-xs * 2) + $gap-xs * 2; // Toggle icon size, plus it's margin.
                }
                .grouped-cms-menu {
                    &.text {
                        margin-left: $gap-lg;
                        display: block;
                    }
                    &::after {
                        @include icon-base;
                        content: '\f0c9';
                        position: absolute;
                        top: 50%;
                        left: $gap-md;
                        margin: -($icon-size / 2) 0 0 ($icon-size / 4);
                    }
                }
                ul {
                    background-color: rgba(0, 0, 0, $opacity-light);
                    li {
                        &.current {
                            a {
                                background: rgba(0, 0, 0, ($opacity-base - $opacity-light));
                            }
                        }
                        a {
                            &:hover {
                                background: rgba(0, 0, 0, ($opacity-base - $opacity-light));
                            }
                        }
                    }
                    &.collapsed-flyout {
                        left: 50px;
                        li {
                            a {
                                border-top: none;
                            }
                        }
                    }
                }
                li {
                    background: transparent none;
                    &.current {
                        a {
                            color: $sidebar-color;
                            font-weight: $menu-font-weight;
                        }
                    }
                    a {
                        color: $sidebar-color;
                        height: auto;
                        position: relative;
                        border-width: 0;
                        background: none;
                        font-size: $font-size-base;
                        padding: ($menu-padding-y) ($menu-padding-x + $gap-xs);
                        line-height: 1em;
                        &:hover {
                            background: rgba(0, 0, 0, $opacity-base);
                        }
                    }
                }
                .toggle-children {
                    $icon-size: $menu-line-height - $gap-xs * 2;
                    font-size: $font-size-base;
                    top: 50%;
                    right: $gap-xs;
                    box-sizing: border-box;
                    margin-top: -($icon-size / 2);
                    float: none;
                    line-height: inherit;
                    text-align: center;
                    width: $icon-size;
                    height: $icon-size;
                    border: 1px solid rgba(255, 255, 255, $opacity-base);
                    border-radius: $border-radius-base;
                    transition: $transition-base background-color;
                    &:hover {
                        background-color: rgba(255, 255, 255, $opacity-light);
                    }
                    &.opened {
                        .toggle-children-icon {
                            background-image: none;
                            &::before {
                                margin-top: 0;
                                content: '\f0d8'; // chevron up
                            }
                        }
                    }
                    .toggle-children-icon {
                        $icon-size: 16px; // override the parent variable
                        background-image: none;
                        height: $icon-size;
                        width: $icon-size;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        margin: (-($icon-size / 2)) 0 0 (-($icon-size / 2));
                        &::before {
                            @include icon-base;
                            color: rgba(255, 255, 255, .3);
                            margin-top: 1px;
                            content: '\f0d7'; // chevron down
                        }
                    }
                }
            }
        }
        &.collapsed {
            li {
                &.children {
                    > a {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
