/** =========================================
 * Menu Icons
 ===========================================*/

/**
 * Manually override the icons in the left hand menu if the variable $icons-inverse is true.
 @todo: Create sprites instead of individual images.
 */
@if $icons-inverse == true {
    .cms-menu {
        /**
         * The list of ModelAdmin actions
         */
        .cms-menu-list {
            #Menu-AssetAdmin {
                .icon {
                    background-image: url('#{$cms-branding-icon-path}/assets-alt.png');
                }
            }
            #Menu-AssetAdmin {
                .icon {
                    background-image: url('#{$cms-branding-icon-path}/assets-alt.png');
                }
            }
            #Menu-BlogPageModelAdmin {
                .icon {
                    background-image: url('#{$boilerplate-module-path}/Blog/images/pencil-alt.png');
                }
            }
            #Menu-CMSSettingsController {
                .icon {
                    background-image: url('#{$cms-branding-icon-path}/settings-alt.png');
                }
            }
            #Menu-ContactMessageModelAdmin {
                .icon {
                    background-image: url('#{$boilerplate-module-path}/ContactForm/images/message-menu-alt.png');
                }
            }
            #Menu-CMSPagesController {
                .icon {
                    background-image: url('#{$cms-branding-icon-path}/pages-alt.png');
                }
            }
            #Menu-PortfolioPageModelAdmin {
                .icon {
                    background-image: url('#{$boilerplate-module-path}/Portfolio/images/briefcase-alt.png');
                }
            }
            #Menu-Help {
                .icon {
                    background-image: url('#{$cms-branding-icon-path}/help-alt.png');
                }
            }
            #Menu-ReportAdmin {
                .icon {
                    background-image: url('#{$cms-branding-icon-path}/reports-alt.png');
                }
            }
            #Menu-SecurityAdmin {
                .icon {
                    background-image: url('#{$cms-branding-icon-path}/security-alt.png');
                }
            }
        }
    }
}