/*
|--------------------------------------------------------------------------
| CMS Logo
|--------------------------------------------------------------------------
*/

.cms-logo {
  display: block;
  text-align: center;
  padding: 0;
  flex: 1 0 0;

  // Child Nodes
  // ----------------------------------------

  > img {
    max-width: 100%;
    height: auto;
  }
}
